sudo yum install pip;
sudo yum install python;
sudo yum install git;
git clone https://github.com/MartinSvoren71/bot -b v2;
pip install flask;
pip install llama-index;
pip install Flask boto3;
pip install PyPDF4;
pip install pypdf2==2.12.0;
cd bot;
sudo cp -p  app2.service.txt /etc/systemd/system/app2.service;
sudo systemctl daemon-reload;
sudo systemctl enable app2.service;
sudo systemctl restart app2.service;
sudo systemctl status app2.service;
sudo yum install httpd-tools;
pip install PyCryptodome;
