:root {
         --matrix-white-1:                #ffffff;
         --matrix-red-1:                  #ff000c;
         --matrix-red-2:                  #6b0c08;  
         --matrix-green-1:                #ffffff;
         --matrix-green-2:                #2d9cca;
         --matrix-green-3:                #5a8662;
         --matrix-green-4:                #2d9cca;
         --matrix-blue-pill:                #a9abb8;
         --matrix-red-pill:                #a9abb8;        
         --matrix-green-6:                #0e1c0d;  
         --matrix-amber-1:                 #a9abb8;
         --matrix-amber-2:                 #ffdd9d;
         --matrix-black-1:                  #081717;      
         --matrix-black-2:                   black;    
         --text-1:                       #1cafec;
         --text-2:                          #474866
         --gray-2:                        #29658a;    
         --matrix-gray-1:                 #1f1f1f;
         --title-grad:     radial-gradient(circle, rgba(12, 29, 29, 0.35) 0%, rgba(8, 23, 23, 0.5) 100%);
             
             
             
         font-family: 'Lucida Console', monospace;  
         max-width: 100vw;
         width: 100vw;
         } 
                         :root.light {
         --matrix-white-1:                #ffffff;
         --matrix-red-1:                  #ff000c;
         --matrix-red-2:                  #6b0c08;  
         --matrix-green-1:                #000000;
         --matrix-green-2:                #000000;
         --matrix-green-3:                #ababab;
         --matrix-green-4:                #2d9cca;
         --matrix-blue-pill:                #57aebb;
         --matrix-red-pill:                #c13939;        
         --matrix-green-6:                #0e1c0d;  
         --matrix-amber-1:                 #1a4a5a;
         --matrix-amber-2:                 #a37828;
         --matrix-black-1:                  #ffffff;      
         --matrix-black-2:                   black;    
         --text-1:                       #1cafec;
         --text-2:                          #474866;
         --gray-2:                        #29658a;    
         --matrix-gray-1:                 #1f1f1f;
         --title-grad:     white;
             
             
             
         font-family: 'Lucida Console', monospace;  
         max-width: 100vw;
         width: 100vw;
         }    
            
            
         /* Style for the title text */
         .title {
         color: var(--matrix-green-1 );
         font-size: 2rem;
         text-align: center;
         height: 6vh;
         background: var(--title-grad);
         opacity: 0.8;
         display: fixed;
         justify-content: center;
         align-items: center;
         margin-top: 0px;
         display: flex;
         justify-content: center;
         align-items: center;
         position: flex;
         top: 0;
         left: 0;
         right: 0;
         filter: drop-shadow(0 0 0.35rem var(--matrix-green-1));

         }
         #container {
         color: var(--matrix-black-1);
         font-family: 'Lucida Console', monospace;  
         display: flex;
         height: auto;
         justify-content: center;
         max-height: 100vh;
        height: 100vh;

         }
 #container_2 {
         color: var(--matrix-black-1);
         font-family: 'Lucida Console', monospace;  
         display: flex;
         height: auto;
         justify-content: center;
         max-height: 100vh;
        height: 60vh;

         }
.panel{
 border: solid 1px white;   
}
        
         .footer {
         padding-bottom:0px;  
             padding-top:20px;  
         }
         .flex-container {
         font-family: 'Lucida Console', monospace;  
         display: flex;
         flex-direction: row;
         }
         .flex-container > div {
         flex: 1;
         }
         .quill-container {
         width: 100%; /* You can adjust the width as needed */
         font-family: 'Lucida Console', monospace;  
         height: 95vh;
         background-color: transparent;
         font-size: 1.3em;
         font-weight: bold;
         border: none;
         margin: 0 ; /* Center the container horizontally */
         color: var(--matrix-green-1);
         opacity:1;
         }
         .ql-container.ql-snow {
         border: none;
         }
         .quill-editor img {
         width: 60%;
         height: auto;
         }
        
             .left-side {
                        font-family: 'Lucida Console', monospace;  
             left:0;
             top:0;
         flex: 1;
       display: fixed;
         flex-direction: column;
         align-items: center;
         justify-content: center;
       
           
    height: 100%;

         }     
     
         .right-side {
         top: 0;
         right: 10;
         flex: 1;
         display: fixed;
         justify-content: center;
         align-items: center;
         background: var(--title-grad);
                  padding:1%;
            max-width: 46%;

    height: 100vh;

         }
         .right-side::-webkit-scrollbar {
         width: 6px;
         }
         .right-side::-webkit-scrollbar-track {
         background-color: #333;
         }
         .right-side::-webkit-scrollbar-thumb {
         background-color: #666;
         border-radius: 3px;
         }
         .right-side::-webkit-scrollbar-thumb:hover {
         background-color: #555;
         }
   
         .left-down-side {
         top: 100vh;
         left:0;
         padding:1%;
         flex: 1;
         justify-content: center;
         align-items: center;
         width: 48%;
    height: 60vh;
         background: var(--title-grad);
         color: var(--matrix-red-pill);
   
         flex-direction: column;
         overflow-y: auto;
         overflow-x: hidden; /* Add this line */
         }
         .left-down-side::-webkit-scrollbar {
         width: 6px;
         }
         .left-down-side::-webkit-scrollbar-track {
         background-color: #333;
         }
         .left-down-side::-webkit-scrollbar-thumb {
         background-color: #666;
         border-radius: 3px;
         }
         .left-down-side::-webkit-scrollbar-thumb:hover {
         background-color: #555;
         }
         .right-down-side {
         top: auto;
         right:10;
                  padding:1%;

         width: 48%;
    height: 60vh;
         flex: 1;
         color: var(--matrix-green-1);
         justify-content: center;
         align-items: center;
         flex-direction: column;
         overflow-y: auto;
         
         background: var(--title-grad);
         }
         .right-down-side::-webkit-scrollbar {
         width: 6px;
         }
         .right-down-side::-webkit-scrollbar-track {
         background-color: #333;
         }
         .right-down-side::-webkit-scrollbar-thumb {
         background-color: #666;
         border-radius: 3px;
         }
         .right-down-side::-webkit-scrollbar-thumb:hover {
         background-color: #555;
         }
         .left-down-down-side {
         top: auto;
         left:0;
         flex: 1;
         display: fixed;
         justify-content: left;
         align-items: center;
          width: 48%;
    height: 100vh;
                  padding:1%;

         background: var(--title-grad);
         color: var(--matrix-black-1);
         }
         .left-down-down-side::-webkit-scrollbar {
         width: 6px;
         }
         .left-down-down-side::-webkit-scrollbar-track {
         background-color: #333;
         }
         .left-down-down-side::-webkit-scrollbar-thumb {
         background-color: #666;
         border-radius: 3px;
         }
         .left-down-down-side::-webkit-scrollbar-thumb:hover {
         background-color: #555;
         }
         .right-down-down-side {
         top: auto;
         right:10;
         flex: 1;
         display: fixed;
         justify-content: center;
         align-items: center;
         opacity:1;
          width: 48%;
    height: 100vh;
                  padding:1%;

         background: var(--title-grad);
         }
         .right-down-down-side::-webkit-scrollbar {
         width: 6px;
         }
         .right-down-down-side::-webkit-scrollbar-track {
         background-color: #333;
         }
         .right-down-down-side::-webkit-scrollbar-thumb {
         background-color: #666;
         border-radius: 3px;
         }
         .right-down-down-side::-webkit-scrollbar-thumb:hover {
         background-color: #555;
         }

         .middle-side {
         top: auto;
         right:0;
         flex: 1;
         display: fixed;
         justify-content: center;
         align-items: center;
         opacity: 0.0;
         max-width: 4%;
         width: 4%;
       
         height: 60v;
         }
        
          .down-down-down-side {
         flex: 1;
         display: fixed;
         justify-content: center;
         align-items: center;
         max-width: 100%;
         opacity:1;
         width: 100%;
         max-height: 80vh;
         height: 80vh; 
        
         }
          
     
         .bottom {
         flex: 1;
         display: fixed;
         justify-content: left;
         align-items: center;
         max-width: 50%;
         height: 120vh;
         max-height: 500vh;
         color: var(--matrix-black-1);
         }    
            
            
         body {
         font-family: 'Lucida Console', monospace;  
         color: var(--matrix-black-1);
         margin-left: 1.5%;
             margin-right: 1.5%;
         padding:0;
         background-color: var(--matrix-black-1);
         font-size: 0.9em;
         font-weight: bold;
         justify-content: center;
         align-items: center;
         overflow-x: hidden; /* Add this line */
         overflow-y: scroll;   
		}
         }
         body::-webkit-scrollbar {
         width: 6px;
         }
         body::-webkit-scrollbar-track {
         background-color: #333;
         }
         body::-webkit-scrollbar-thumb {
         background-color: #666;
         border-radius: 3px;
         }
         body::-webkit-scrollbar-thumb:hover {
         background-color: #555;
         }
         canvas {
         width: 100vw;
         z-index: -1;
         opacity: 0;
         position: fixed;
         top: 0%;
         left: 0%;
         padding-top: 0px;
         height:100vh;    
         filter: drop-shadow(0 0 0.9rem red);
         } 
         @keyframes pulse {
         0% {
         filter: drop-shadow(0 0 0.2rem yellow);
         transform: translate(0px, 0px);
         }
         12% {
         filter: drop-shadow(0 0 0.4rem yellow);
         transform: translate(0px, 0px);
         }
         23% {
         filter: drop-shadow(0 0 0.5rem orange);
         transform: translate(0px,0px);
         }
         35% {
         filter: drop-shadow(0 0 0.6rem red);
         transform: translate(0px, 0px);
         }
         41% {
         filter: drop-shadow(0 0 0.4rem green);
         transform: translate(0px, 0px);
         }
         49% {
         filter: drop-shadow(0 0 0.8rem green);
         transform: translate(0px, 0px);
         }
         66% {
         filter: drop-shadow(0 0 0.6rem red);
         transform: translate(0px, 0px);
         }
         100% {
         filter: drop-shadow(0 0 0.5rem orange);
         transform: translate(0px, 0px);
         }
         }
         img {
         width: 100%;
         height: auto;
         max-width: 220px;
         opacity: 0.85;
         display: block;
         margin: 0 auto;
         margin-bottom: 50px;
         filter: drop-shadow(0 0 0.85rem red);
         animation: pulse 8s infinite; /* Apply the pulse animation, and make it faster (1.5s) */
         }


         #footer_image {
         width: 35vw;
         height: auto;
         display: flex;
         margin-top: 3%;
         margin-bottom: 1%;
         filter: drop-shadow(0 0 0.75rem green);   
         }
         #log-container {
         padding: 2%;
         font-family: 'Lucida Console', monospace;  
         width: 96%;
         max-width: 96%;
         height: 90%;
         overflow-x: hidden;
         flex-direction: column;
         overflow-y: auto;
         var(--matrix-green-1);
         font-size: 0.9em;
         font-weight: bold;
         white-space: pre-wrap;
         color: var(--matrix-green-1);   
         }
         .log-container::-webkit-scrollbar {
         width: 6px;
         }
         .log-container::-webkit-scrollbar-track {
         background-color: #333;
         }
         .log-container::-webkit-scrollbar-thumb {
         background-color: #666;
         border-radius: 3px;
         }
         .log-container::-webkit-scrollbar-thumb:hover {
         background-color: #555;
         }
         #select-container-2{
         margin-top:2%;
         margin-bottom:0%;
         }
         #log-container::-webkit-scrollbar {
         display: none;
         }
         h1 {
         max-width: 100%;
         font-size: 1.5em;
         text-align: center;
         filter: drop-shadow(0 0 0.35rem var(--matrix-green-1));
         color: var(--matrix-green-1);
         }
         h2 {
         max-width: 100%;
         font-size: 1.2em;
         text-align: center;
         filter: drop-shadow(0 0 0.35rem var(--matrix-green-1));
         color: var(--matrix-green-1);
         }
         h3 {
         max-width: 100%;
         font-size: 1em;
         text-align: center;
         color: var(--matrix-green-1);
         }
         h4 {
         max-width: 100%;
         font-size: 0.8em;
         text-align: center;
         filter: drop-shadow(0 0 0.35rem var(--matrix-green-1));
         color: var(--matrix-green-2);
         }
         a {
         max-width: 100%;
         font-size: 1.0em;
         justify-content: center;
         align-items: center;
         color: var(--matrix-blue-pill);
         }
         .folder-content{
         flex-direction: column;
         overflow-y: auto;
         max-height: 70vh;   
         white-space: pre-wrap;
         }
         p {
         max-width: 100%;
         font-size: 1em;
         text-align: center;
         color: black;
         filter: drop-shadow(0 0 0.35rem var(--matrix-green-1));
         }
         form {
         margin: 0 ;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         }
         label {
         font-size: 1.2em;
         }
         textarea {
         font-family: 'Lucida Console', monospace;  
         font-size: 1.1em;
         margin: 0px;
         border: none;
         outline: none;
         background-color: rgba(0, 0, 0, 0.5);
         color: var(--matrix-red-pill);
         justify-content: center;
         align-items: center;
         margin: 2% ;
         filter: drop-shadow(0 0 0.35rem green);
         text-align: left;
         padding: 5px;
         max-width: 60%;
         min-width: 60%;/* Adjust this to the desired width */
         min-height: 10vh; /* Adjust this to the desired minimum height */
         max-height: 20vh; /* Adjust this to the desired minimum height */
         resize: vertical; /* Allow vertical resizing */
         }
iframe {
  border: none;
  padding: 0;
}
         .out_text  {
         font-family: 'Lucida Console', monospace;  
         font-size: 1.1em;
         margin: 0px;
         border: none;
         outline: none;
         background-color: rgba(0, 0, 0, 0.5);
         color: var(--matrix-red-pill);
         justify-content: center;
         align-items: center;
         margin: 4% auto;
         filter: drop-shadow(0 0 0.35rem green);
         text-align: left;
         padding: 10px;
         width: 100%; /* Adjust this to the desired width */
         height: 90vh; /* Adjust this to the desired minimum height */
         resize: vertical; /* Allow vertical resizing */
         }     
         input[type="text"] {
         font-family: 'Lucida Console', monospace;  
         font-size: 1.1em;
         margin: 0px;
         border: none;
         outline: none;
         background-color: rgba(0, 0, 0, 0.5);
         color: var(--matrix-red-pill);
         justify-content: center;
         align-items: center;
         margin: 1% ;
         filter: drop-shadow(0 0 0.35rem green);
         text-align: left;
         padding: 10px;
         width: 100%; /* Adjust this to the desired width */
         }
         .button-wrapper {
         display: flex;
         justify-content: center;
         width: 100%;
         }
         out_text{
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.2);
         color: var(--matrix-green-1);
         font-size: 1.1em;
         font-weight: bold;
         white-space: pre-wrap;
         }
         #button-search {
         font-size: 1.3em;
         padding: 10px;
         border-radius: 8px;
         margin-top: 15px;
         border: none;
         outline: none;
         background-color: var(--matrix-amber-1);
         color: var(--matrix-black-1);
         cursor: pointer;
         filter: drop-shadow(0 0 0.15rem red);
         }
         #button {
         font-size: 1.1em;
         padding: 10px;
         border-radius: 3px;
         margin-top: 3px;
         border: none;
         outline: none;
         background-color: var(--matrix-amber-1);
         color: var(--matrix-black-1);
         cursor: pointer;
         filter: drop-shadow(0 0 0.15rem red);
         }
         #button-GPT {
         font-size: 1.3em;
         padding: 10px;
         border-radius: 8px;
         margin-top: 15px;
         border: none;
         outline: none;
         background-color: var(--matrix-red-pill);
         color: var(--matrix-black-1);
         cursor: pointer;
         filter: drop-shadow(0 0 0.15rem red);
         } 
         ask-form {
         }
         #button-AI {
         font-size: 1.3em;
         padding: 10px;
         border-radius: 8px;
         margin-top: 15px;
         border: none;
         outline: none;
         background-color: var(--matrix-blue-pill);
         color: var(--matrix-black-1);
         cursor: pointer;
         filter: drop-shadow(0 0 0.15rem cyan);
         }
         #button-search:hover {
         background-color: var(--matrix-amber-1);
         filter: drop-shadow(0 0 0.55rem var(--matrix-amber-1));
         }
         #button-AI:hover {
         background-color: cyan;
         filter: drop-shadow(0 0 0.55rem cyan);
         }
         #button-GPT:hover {
         background-color: red;
         filter: drop-shadow(0 0 0.55rem red);
         }
         .input-key {
         font-size: 1.2em;
         padding: 5px;
         border-radius: 10px;
         border: none;
         outline: none;
         background-color: var(--matrix-gray-1);    
         color: var(--matrix-red-pill));
         }
         document {
         padding: 0px;
         width: 30%;
         height: 800px;
         }
.pdf-embed{
             height: 94vh;
    width: 100%;

}
.editorX{
             height: 94%;
    width: 100%;
         overflow-x: hidden;
         flex-direction: column;
         overflow-y: auto;

}
.wrapperX {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.link {
  font-size: 12px;
  text-decoration: none;
}
         .file-list-container {
         padding: 0;
         margin-top: 15px;
         width: auto;
         }
         .container {
         display: flex;
         }
         .list-container {
         color: var(--matrix-green-1));
         margin-bottom: 3%;
         max-height: 70vh;
         font-family: 'Lucida Console', monospace;  
         text-align: left;
         width: 100vw; /* Adjust this to the desired width */
         max-height: 60vh; /* Adjust this to the desired minimum height */
         resize: vertical; /* Allow vertical resizing */
         max-width: auto;
         flex-direction: column;
         overflow-y: scroll;
         }
         .list-container::-webkit-scrollbar {
         width: 0.2em; /* Set the width of the scrollbar */
         }
         .list-container::-webkit-scrollbar-track {
         background-color: transparent; /* Set the background color of the track to transparent */
         }
         .list-container::-webkit-scrollbar-thumb {
         background-color: transparent; /* Set the background color of the thumb to transparent */
         }
         a {
         color: var(--matrix-red-pill));
         text-decoration: none;
         }
         li a {
         font-size: 1.em;
         margin: 3px;
         padding: 3px;
         color: #5a8662;
         }
         ul {
         margin: 3px;
         padding: 3px;
         }
         ul li {
         border: 0.2px ridge #173a3a;   
         border-radius: 3px;
         margin: 6px;
         padding: 3px;
         }
         #question {
         margin: 1% auto;
         filter: drop-shadow(0 0 0.75rem white);
         color: var(--matrix-green-1);
         width:100%;
         height: 5vh;
         } 
         #keyword {
         margin: 1% auto;
         filter: drop-shadow(0 0 0.75rem white);
         color: var(--matrix-green-1);
         width:40%;
         height: 5vh;
         } 
         a:hover {
         color: #aaa;
         }
         .list-container {
         width: 50vw;
         overflow: hiden;
         }
         .pdf-container{
         width: 50vw;
         overflow: hiden;
         opacity: 0.4;
         }
         #folder-selector {
         padding: 1%;
         border-radius: 4px;
         outline: none;
         background-color: var(--matrix-green-3);
         color: var(--matrix-black-1));
         cursor: pointer;
         font-size: 1.0em;
         filter: drop-shadow(0 0 0.35rem var(--matrix-amber-1));
         }
         #folder-selector option {
         font-size: 1.1em;
         padding: 8px 12px;
         border-radius: 4px;
         border: none;
         outline: none;
         background-color: var(--matrix-anber-1);;
         color: var(--matrix-black-1));
         cursor: pointer;
         }
         #folder-selector option:hover {
         background-color: var(--matrix-green-1);
         background-color: var(--matrix-green-3);
         }
         #folder-selector:focus,
         #folder-selector:active {
         border-color: var(--matrix-red-1);
         }
         folder-selector
         #model {
         padding: 1%;
         border-radius: 4px;
         border: 1px solid var(--matrix-red-1);
         outline: none;
         background-color: var(--matrix-green-1);
         cursor: pointer;
         color: var(--matrix-black-1));
         font-size: 1.2em;
         }
         #model option {
         font-size: 1.3em;
         padding: 8px 12px;
         border-radius: 4px;
         border: none;
         outline: none;
         background-color: var(--matrix-green-1);;
         color: var(--matrix-black-1));
         cursor: pointer;
         }
         #model option:hover {
         background-color: var(--matrix-green-1);
         }
         #model:focus,
         #model:active {
         border-color: var(--matrix-red-1);
         }
         results {
         width: 100%;
         padding:5%;
         height: 90%;
         background-color: rgba(0, 0, 0, 0.2); 
         color: var(--matrix-green-1));
         font-family: 'Lucida Console', monospace;
         max-height: 80vh;  
         white-space: pre-wrap;
         }
         results::-webkit-scrollbar {
         width: 6px;
         }
         results::-webkit-scrollbar-track {
         background-color: #333;
         }
         results::-webkit-scrollbar-thumb {
         background-color: #666;
         border-radius: 3px;
         }
         results::-webkit-scrollbar-thumb:hover {
         background-color: #555;
         } 
         #loader {
         border: 16px solid #a31c1c;
         border-top: 16px solid #050404;
         border-radius: 50%;
         width: 80px;
         height: 80px;
         animation: spin 1s linear infinite;
         }
         #loader2 {
         border: 16px solid #a31c1c;
         border-top: 16px solid #050404;
         border-radius: 50%;
         width: 80px;
         height: 80px;
         animation: spin 1s linear infinite;
         }
         @keyframes spin {
         0% { transform: rotate(0deg); }
         100% { transform: rotate(360deg); }
         }
         #slider-wrapper {
         margin-top: 20px;
         padding: 10px; /* Add padding to the slider container */
         display: fixed;
         justify-content: center;
         align-items: center;
         }
         input[type=range] {
         -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
         width: 15%;
         background: transparent; /* Remove default background */
         opacity: 0.8;
         display: fixed;
         justify-content: center;
         align-items: center;
         }
         input[type=range]::-webkit-slider-thumb {
         -webkit-appearance: none;
         width: 12px;
         height: 12px;
         background: lightgreen;
         cursor: pointer;
         border-radius: 10px;
         opacity: 0.8;
         }
         input[type=range]::-moz-range-thumb {
         width: 12px;
         height: 12px;
         background: lightgreen;
         cursor: pointer;
         border-radius: 10px;
         opacity: 0.8;
         }
         /* Slider track styles */
         input[type=range]::-webkit-slider-runnable-track {
         width: 15%;
         height: 4px;
         background: lightgreen;
         cursor: pointer;
         border-radius: 4px;
         opacity: 0.8;
         }
         input[type=range]::-moz-range-track {
         width: 15%;
         height: 4px;
         background: lightgreen;
         cursor: pointer;
         border-radius: 4px;
         opacity: 0.8;
         }

       .mask-container {
    display: flex;
    align-items: center;
  }

  .circular-mask {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }

  .circular-mask img {
    width: 100%;
    height: auto;
  }

  .slot-mask {
    position: relative;
    width: 150px;
    height: 50px;
    overflow: hidden;
    margin-left: -170px;
    margin-top:  140px;
  }

  .slot-mask:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background-color: white;
    transform: skew(-20deg);
    z-index: 1;
  }

  .slot-mask img {
    position: relative;
    left: -10%;
    top: 0;
    width: 120%;
    height: auto;
    z-index: 2;
  }     
            



@media screen and (max-width: 920px) {


  .left-side {


         }     
     
         .right-side {
            max-width: 50%;
width: 50%;

         }
  
   
         .left-down-side {
     
         width: 100%;

         }
      
         .right-down-side {
 
         width: 100%;
  
 
         }
     
         .left-down-down-side {
          width: 100%;
         }
     
         .right-down-down-side {
          width: 100%;
    height: 100vh;

         }

        
    :root.light{
     max-width: 200vw;
         width: 200vw;    
    }
    :root{
        max-width: 200vw;
         width: 200vw;    
    }
       canvas {
         width: 200vw;
         height:200vh;    
         filter: drop-shadow(0 0 0.9rem red);
         } 
    
    
    
      
    
}