<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quill Editor with Flask</title>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
  <form action="/save" method="POST">
    <div id="quill-editor"></div>
    <input type="hidden" name="content" id="content">
    <button type="submit">Save</button>
  </form>

  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
    var quill = new Quill('#quill-editor', {
      theme: 'snow'
    });

    var form = document.querySelector('form');
    form.onsubmit = function() {
      var contentInput = document.querySelector('input[name=content]');
      contentInput.value = quill.root.innerHTML;
    };
  </script>
</body>
</html>
``
