<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder Content Viewer</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Select a folder:</h1>
    <select id="folder-selector">
        {% for folder in folders %}
        <option value="{{ folder }}">{{ folder }}</option>
        {% endfor %}
    </select>
    <h2>Enter a keyword to search:</h2>
    <input type="text" id="keyword" placeholder="Search keyword">
    <button id="search-btn">Search</button>
    <h2>Folder content:</h2>
    <ul id="folder-content"></ul>

   <script>
    function updateFolderContent() {
        let selectedFolder = $('#folder-selector').val();
        let keyword = $('#keyword').val();
        $.post('/get_folder_content', {selected_folder: selectedFolder, keyword: keyword}, function(data) {
            $('#folder-content').html('');
            for (let item of data.folder_content) {
                let file_url = '/Data/' + selectedFolder + '/' + item;
                $('#folder-content').append('<li><a href="#' + file_url + '" target=file.PresignedURL>' + item + '</a></li>');
            }
        });
    }

    $(document).ready(function() {
        $('#folder-selector').on('change', updateFolderContent);
        $('#keyword').on('change', updateFolderContent);
        $('#search-btn').on('click', function(event) {
            event.preventDefault();
            updateFolderContent();
        });
        updateFolderContent();
    });
</script>

</body>
</html>
