sudo yum install pip;
sudo yum install python;
sudo yum install git;
git clone https://github.com/MartinSvoren71/bot -b DEMO;
pip install flask;
pip install llm-index;
pip install llama-index;
pip install Flask boto3;
cd bot;
sudo cp -p  app2.service.txt /etc/systemd/system/app2.service;
sudo systemctl daemon-reload;
sudo systemctl enable app2.service;
sudo systemctl restart app2.service;
sudo systemctl status app2.service;
pip install PyPDF4