sudo yum install pip;
sudo yum install python;
sudo yum install git;
sudo yum install htop;
git clone https://github.com/MartinSvoren71/bot -b v2;
pip install flask==2.2.4;
pip install llama-index==0.5.25;
pip install boto3==1.26.121;
pip install PyPDF4==1.27.0;
pip install pypdf2==2.12.0;
pip install pdfminer.six==20221105;
sudo yum install httpd-tools;
pip install PyCryptodome;
pip install wtforms;
sudo yum install screen;
pip install flask_ckeditor;
pip install flask_session;
pip install fuzzywuzzy;
cd bot;
sudo cp -p  app2.service.txt /etc/systemd/system/app2.service;
sudo systemctl daemon-reload;
sudo systemctl enable app2.service;
sudo systemctl restart app2.service;
sudo systemctl status app2.service;